@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.upperFooter1 {
  background-color: #143061;
  height: 300px;
}

.upperFooter2 {
  background-color: #102853;
  height: 400px;
  display: flex;
}

.upperFooter2-GICC {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upperFooter2-GICC img {
  width: 350px;
  height: auto;
  padding-right: 100px;
}

.upperFooter2-Contact {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.upperFooter2-Contact a {
  height: auto;
}

.contact-component {
  height: fit-content;
  display: flex;
  align-items: center;
}

.contact-component p {
  height: auto;
  width: auto;
  color: #f2f2f3;
  padding-left: 7px;
}

.contact-component img {
  width: 33px;
  height: 33px;
  padding: 10px;
}

.footer {
  height: 150px;
  background-color: #143061;
  font: poppins;
}

ul.slick-dots {
  height: 100px;
}

.slick-prev {
  left: 100px;
  z-index: 1;
}
.slick-next {
  right: 100px;
  /*to notice it, is white*/
}

.footer-backBtn {
  height: 100px;
  display: grid;
  place-content: center;
}

.backBtn {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  padding: 0;
  background-color: #26a198;
  outline: 0;
  border: 0;
  transition: ease 0.5s;
}

.backBtn a {
  text-decoration: none;
  color: #143061;
  font-size: 16px;
  font-weight: 600px;
  font-weight: bold;
}

.backBtn:hover {
  cursor: pointer;
  background-color: #22c7bc;
}

.footer-copyright {
  height: 100px;
  background-color: #102853;
  display: grid;
  place-content: center;
  color: #ffda80;
}
