@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container {
  min-height: 100%;
}

.GICC {
  /* position: absolute; */
  height: 30%;
  width: 70%;

  margin: auto;
  margin-top: 2vw;
  padding: 2vw;

  background: linear-gradient(267.2deg, #ffdc80 41.24%, #26a198 89.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  font-weight: 700;
  font-size: 4vw;
}

.description-GICC {
  margin-top: 2vw;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1vw;
  height: 10%;
}

.top-border {
  position: absolute;
  margin-left: 25vw;
  margin-top: 1vw;
  height: 1%;
  width: 15%;
  border-radius: 2vw;
  background: linear-gradient(
    274.06deg,
    #78eedd 1.4%,
    #ffda80 1.41%,
    #f3dc88 38.86%,
    #b1e6b6 51.52%,
    #649ca5 81.39%
  );
  transform: rotate(180deg);
}

.bottom-border {
  position: absolute;
  margin-left: 60vw;
  margin-top: 1vw;
  height: 1%;
  width: 15%;
  border-radius: 2vw;
  background: linear-gradient(
    274.06deg,
    #ffda80 1.4%,
    #f3dc88 19.12%,
    #b1e6b6 38.86%,
    #78eedd 48.99%,
    #88ecd2 63.16%,
    #58b0b3 86.25%
  );
}

.left-circle {
  border-radius: 10vw;
  height: 3vw;
  width: 3vw;

  position: absolute;
  margin-left: -5vw;
  margin-bottom: 400vw;

  background: #26a198;
  box-shadow: 0 0 2vw 1vw #26a198;
}

.right-circle {
  border-radius: 10vw;
  height: 3vw;
  width: 3vw;

  position: absolute;
  margin-left: 70vw;
  margin-bottom: 400vw;

  background: linear-gradient(
    90deg,
    #ffda80 0%,
    #eed582 11.52%,
    #c1ca87 34.43%,
    #78b78f 66.59%,
    #26a198 100%
  );
  box-shadow: 0 0 2vw 1vw #ffda80;
}

.giic-card {
  background-color: white;
}

.image-register-board{
  width: 88px;
  height: 125px;
  margin-top: 16px;
}

.whiteText {
  color: white;
}