@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container {
  background-image: url("../assets/background.png");
  background-size: 100% 100%;
  background-color: #213665;
  padding-bottom: 150px;
}

.GICC-container-card {
  margin-top: 20px;
}

.GICC-big {
  margin-top: 30px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 150px; 
  background: linear-gradient(267.2deg, #ffdc80 41.24%, #26a198 89.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.GICC {
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  font-size: 70px; 
  background: linear-gradient(267.2deg, #ffdc80 41.24%, #26a198 89.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-GICC {
  text-align: center;
  font-size: 20px;
  height: 10%;
}

.left-circle {
  border-radius: 10vw;
  height: 3vw;
  width: 3vw;

  position: absolute;
  margin-left: 5%;

  background: #26a198;
  box-shadow: 0 0 2vw 1vw #26a198;
}

.right-circle {
  border-radius: 10vw;
  height: 3vw;
  width: 3vw;

  position: absolute;
  margin-left: 90%;

  background: linear-gradient(
    90deg,
    #ffda80 0%,
    #eed582 11.52%,
    #c1ca87 34.43%,
    #78b78f 66.59%,
    #26a198 100%
  );
  box-shadow: 0 0 2vw 1vw #ffda80;
}

.GICC-card-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
}

.GICC-card {
  text-decoration: none;

  min-height: 300px;
  max-height: 300px;
  max-width: 250px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.GICC-card:hover {
  cursor: pointer;
}

.image-register-board{
  width: 88px;
  height: 125px;
  margin-top: 16px;
}

.whiteText {
  color: white;
}