.sponsor-container{
  padding-top: 40px;
}

.sponsor-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  height: fit-content;
  background: linear-gradient(264.98deg, #FFFDFD 39.51%, #FFDC80 65.97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.sponsor img {
  margin: 0 auto;
  padding: 0;
  height: 400px;
 
}

.sponsor-slider-container {
  /* height: 1000px;
  width: 1000px; */
}