.container-competition-page {
  background-color: #143061;
  max-height: fit-content;
}

.contentAU {
  height: fit-content;
  background-color: #143061;
}

.description {
  background-color: #208685;
}

.Faq-section {
  height: fit-content;
  background-color: #D4D7D8;
}