@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


.first-section-container {
  height: fit-content;
}

.about-us {
  background-color: #26A198;
  height: fit-content;
}

.competition {
  background-color: #213665;
  height: fit-content;
}

.sponsor {
  background-color: #34D9C3;
}

.footer {
  height: fit-content;
}
