.login-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-login {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 50vw;
  background: url("../components/assets//login-decoration.png") no-repeat;
  background-size: 50vw;
}

.left-login img {
  width: 200px;
  height: auto;
  margin-left: 32px;
  margin-top: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.left-login button {
  height: auto;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  color: #26a198;
  background-color: #143061;
  border: none;
  outline: none;
  cursor: pointer;
}

.left-login button:hover {
  transition: all ease 0.4s;
  background-color: white;
  outline: 1px solid #143061;
  color: #143061;
}

.login-title {
  font-weight: 700;
  font-size: 70px;
  background: linear-gradient(267.2deg, #ffdc80 41.24%, #26a198 89.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: auto;
  width: fit-content;
  text-align: start;
  margin-right: 80px;
}

.login-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.homepage-button {
  display: flex;
  height: auto;
  width: auto;
}

.left-login a {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.login-text-content p {
  color: white;
  width: 506px;
  height: 100px;
  font-weight: 300;
}

.login-form-content {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.right-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: calc(100vh - 100px);
  max-width: 50vw;
  margin-left: 100px;
  padding-top: 100px;
}

.login-form-container {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-form-container p {
  width: 150px;
}

.right-login h1 {
  height: auto;
  padding-bottom: 40px;
  color: #143061;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.sign-up-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-container p {
  color: #143061;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  width: fit-content;
  text-align: center;
  font-weight: 300;
}

.sign-up-container p span {
  color: #20245c;
  cursor: pointer;
  font-weight: bold;
}

.sign-up-container p a {
  text-decoration: none;
}

.sign-up-container p a:hover {
  text-decoration: underline;
}

.right-login form {
  height: auto;
  width: 500px;
}

.right-login form input {
  border: none;
  border-bottom: 2px solid #143061;
  padding-left: 5px;
  transition: 0.4s ease;
  width: 300px;
}

.right-login form input:focus {
  outline: none;
  border-bottom: 2px solid #26a198;
}

.right-login button {
  height: auto;
  width: 250px;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  color: #26a198;
  background-color: #143061;
  border: none;
  outline: none;
  cursor: pointer;
}

.right-login button:hover {
  transition: all ease 0.4s;
  background-color: white;
  outline: 1px solid #143061;
  color: #143061;
}

.login-button {
  padding-bottom: 20px;
  width: fit-content;
  height: auto;
}

.login-connectwith {
  height: auto;
  width: fit-content;
  padding-bottom: 10px;
}

.login-connectwith img {
  width: 50px;
  height: auto;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.error-popup {
  height: fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
  color: red;
}
