.navbar-profile {
  position: fixed;
  height: auto;
}

.profile-container {
  display: flex;
  flex-direction: row;
}

.left-profile-container {
  max-width: 50vw;
  max-height: 100vh;
  background: url("../components/assets/login-decoration.png") no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-profile-container > p {
  height: fit-content;
  height: fit-content;
  padding: 1rem;
  font-size: 36px;
  background: linear-gradient(267.2deg, #ffdc80 41.24%, #26a198 89.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.form-container input {
  width: fit-content;
}

.form-container input[type="file"] {
  display: none;
}

.upload-input input {
  text-align: center;
  width: fit-content;
}

.buttons {
  height: auto;
  width: 250px;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  color: #26a198;
  background-color: #143061;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit-final {
  height: auto;
  width: auto;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 16px;
  color: #26a198;
  background-color: #143061;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit-final:hover {
  transition: all ease 0.4s;
  background-color: white;
  outline: 1px solid #143061;
  color: #143061;
}

.buttons:hover {
  transition: all ease 0.4s;
  background-color: white;
  outline: 1px solid #143061;
  color: #143061;
}

.right-profile-container {
  margin-top: 200px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 200px);
}

.right-profile-container h1 {
  font-size: 3rem;
  height: fit-content;
  width: fit-content;
  background: linear-gradient(267.2deg, #143061 3%, #26a198 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-text-content-profile form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  height: 400px;
  width: 300px;
  font-size: 16px;
}

.right-text-content-profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  height: 400px;
  width: 300px;
  font-size: 16px;
}

.right-text-content-profile span {
  font-weight: 300;
}

.right-text-content-profile input {
  width: fit-content;
  padding: 5px;
  border: 1px solid rgba(60, 66, 87, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  outline: none;
  border: none;
  transition: 0.7s ease;
}

.right-text-content-profile input:focus {
  border: 1px black solid;
}

.items-text-profile {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.right-buttons {
  margin-top: 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-buttons-horizontal {
  height: fit-content;
  margin-bottom: 20px;
}

.right-buttons-horizontal button {
  margin: 0 10px;
}

.light-blue-button {
  background-color: #26a198;
  color: #143061;
}

.white-text {
  color: white;
}

.right-buttons a {
  width: auto;
  height: auto;
}

.submit-name {
  color: white;
  height: fit-content;
  width: fit-content;
  padding-left: 1rem;
}

.submit-container-name {
  height: fit-content;
  width: fit-content;
}
.flex-container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-submit-container {
  color: white;
  font-size: 1.25rem;
}

.display-none {
  display: none;
}

.temp-style-annoucement {
  padding: 1rem;
  font-size: 36px;
  background: linear-gradient(267.2deg, #ffdc80 41.24%, #26a198 89.6%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techmeet:hover {
  border-bottom: 1px solid #26a198;
}
