.Faq-container {
  width: 90%;
  padding: 20px;;
}

.Accordion {
  padding-left: 22.5%;
  width: 60%;
  margin-bottom: 50px;
}

.Faq-title {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 600;
  color: rgba(20, 48, 97, 1);
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.Accordion-button {
  font-size: 15px;
  padding: 20px;
  border: rgba(20, 48, 97, 1);
  border-radius: 20px;
  background: linear-gradient(267.68deg, #FFDC80 24.87%, #97FCFA 58.28%);
  margin-bottom: 30px;
}

.Accordion-after {
  margin-bottom: 10px;
  padding-left: 10px;
}

.Accordion-button:hover {
  cursor: pointer;
}

.faq-desc {
  text-align: justify;
  width: 90%;
  margin: auto auto;
}